*{
	box-sizing: border-box;
	font-family: "Century Gothic", Arial;
}

body{
	font-size: 150%;
}

h1{
	margin-top: 15px;
	margin-bottom: 15px;
	text-align: center;
	font-size: 1em;
}

p{
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}

.red{
	background-color: #FF6666;
}

.orange{
	background-color: #FF8000;
}

.blue{
	background-color: #0080FF;
}

.row{
	width: 100%;
}

.column{
	border: 1px solid black;
	margin: 10px;
	position: relative;
	background-color: #CCFFFF;
}

.sectionHeader{
	position: absolute;
	top: 0;
	right: 0;
	border-left: 1px solid black;
	border-bottom: 1px solid black;
	padding-left: 30px;
	padding-right: 30px;
	font-size: .75em;
}

.sectionContent{
	padding-top: 20px;
	font-size: .50em;
}

/** Large devices only - Desktop View **/
@media (min-width: 992px){
	.col-lg-3{
		float: left;

		width: 33%;
	}
}

/** Media devices only - Tablet View **/
@media (min-width: 768px) and (max-width: 991px){
.col-md-6, .col-md-12{
	float: left;

}

	.col-md-6{
		width: 50%;
	}

	.col-md-12{
		width: 100%
	}
}

/** Small devices only - Mobile View **/
@media (max-width: 767px){
	.col-sm-12{
	float: left;
	width: 100%
}
}